$def with (image)
<h1>View Fits Image</h1>
<script src="/static/binaryajax.js"></script>
<script src="/static/fits.js"></script>
<script type="text/javascript">
    var fits = new FITS();
    fits.strech = 'linear';
    fits.bind('load', function(){
        this.draw('FITSimage');
    })
    fits.load('$image');
</script>

    Scaling function: <select name="scale" onChange="fits.update(this.value)">
		<option>linear</option>
		<option>sqrt</option>
		<option>cuberoot</option>
		<option selected="selected">log</option>
		<option>sqrtlog</option>
		<option>loglog</option>
	</select>

    Color: <select name="scale" onChange="fits.update({color:this.value})">
		<option selected="selected">gray</option>
		<option>heat</option>
		<option>A</option>
		<option>B</option>
	</select>

	<br />
<canvas id="FITSimage"></canvas>

